:root {
  --brand-blue: #0a2e46; /* #001d48 NO */  /* #022a44 Primary*/ /* #0d3a57 Secondary */
  --core-yellow: #fdd900; /* #fdd900 Primary */  /* #faf19b Eric */ /* #F6e27a MJS */ /* #f6e27a Secondary */
  --har-coral: #FF808B; /* #ff4d4d Primary */  /* #ff4d4d Secondary */
  --text-color: #ffffff;
  --muted: #aab3c2;
  --surface: #ffffff;
}

.event-sub {
  padding-top: 50%;
  font-size: 4.3rem;
  margin-top: 1rem;
  color: var(--brand-blue);
}
